@import url(../fonts/fonts.css); 

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *{
    @apply font-yekan-faNum-regular
  }
}

:root {
  --background: #FAFAFA;
  --foreground: #1F2833;
  --darkInfo: #20526A;
  --info: #1E98BC;
      --middleText: #4D637B;
}

body {
  color: var(--foreground);
  background: var(--background);
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: 700;
}

p{
  font-weight: 200;
}
